<section class="about_apply_section">
	<div class="container">
            <div class="row text-center">
                <div class="col-sm-6 about_apply_section_container_outter">
					<div class="about_apply_section_container_1">
					<div class="about_apply_section_l">創造屬於您的農場</div>
					<div class="about_apply_section_s">免費上架，輕鬆管理！</div>
					<%= image_tag 'index/house.png', class: 'about_apply_house' %>					
					<%=link_to 'main/serviceIntro' do%>
						<div class="about_apply_section_under">了解如何在小農1號販售</div>             
                	<%end%>
                	</div>
                </div>  
                <div class="col-sm-6 about_apply_section_container_outter">
					<div class="about_apply_section_container_2">
					<div class="about_apply_section_l">關於小農1號</div>
					<div class="about_apply_section_s">小農1號的使命是：「讓人人都能享受新鮮健康的農產品，讓每位辛勤耕耘的小農發光發熱」</div>
					<%= image_tag 'index/people.png', class: 'about_apply_people' %>					
					<%=link_to 'main/about' do%>						
						<div class="about_apply_section_under">了解更多我們的故事</div>                			
                	<%end%>  
                	</div>              
                </div>                            
            </div>
	</div>
</section> 