<div class="container-fluid main_frontend">
	<br>
	<%if user_signed_in? and current_user.companies.first.activated_c%>
	<%else%>
	<div class="row text-center" style="margin-top: 20px;">	
		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-lg-offset-5 col-lg-2">
			<a href="/companies/apply" class="btn orange_btn backend_btn center-block">
				申請上架
			</a>
		</div>
	</div>	
	<%end%>
	<% @companies.where(activated_c: true).order(priority: :desc).each_slice(4) do |c|%> 
		<div class="row">
			<% c.each_with_index do |cc, index|%>	
				<%= render partial: "farm", locals: { farm: cc, index: index, slice: 4 } %>
			<%end%>	
		</div>		
	<%end%>						
</div>	
