<div class="container-fluid main_frontend" style="padding-top: 40px;">
	<br><br>
	<%if user_signed_in? and current_user.companies.first.activated_c%>
	<%else%>
	<div class="row">
		<div class="col-sm-offset-6 col-sm-6 col-lg-offset-9 col-lg-3">
			<div style="width: 90%; position: relative; margin: 0 auto;">
			<%=link_to '申請上架', '/companies/apply', class: 'add_button btn btn-success pull-right' %>
			</div>
		</div>
	</div>
	<%end%>
	<% @companies.where(activated_c: true).order(priority: :desc).each_slice(4) do |c|%> 
		<div class="row">
			<% c.each_with_index do |cc, index|%>	
				<%= render partial: "farm", locals: { farm: cc, index: index, slice: 4 } %>
			<%end%>	
		</div>		
	<%end%>						
</div>	
