<% content_for :title do %>
    <title>產品販售政策 | 小農1號線上水果平台</title>  
<% end %>
<div class="container main_frontend policy">
	<div class="row text-center">
		<div class="col-md-offset-2 col-md-8">
			<h2 class="index_title">小農1號產品販售政策</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">	
		<dl>
		  <dd>小農1號 提供農產品平台網路服務，在於鼓勵優質小農將優質的安心農產展示於小農1號，消費者再透過簡單、流暢的介面設計，快速且便利的選購自己喜歡的農產品，讓小農認真辛勞種植的優質農產，透過網路推廣到各地。</dd>
		  <dt>得在 小農1號 上架販售的商品範圍</dt>
		  <dd>1. 農產品：由農友本人（或其團隊）親自種植，且符合 小農1號  商品販售政策之農產品。</dd>
		  <dd>2. 農產加工品：由農友本人（或其團隊）親自加工生產，且符合 小農1號 商品販售政策之農產品。</dd>
		  <dt>禁止在 小農1號上架販售的商品範圍</dt>
		  <dd>1. 非小農自行種植、自行加工之農產品。</dd>
		  <dd>2. 葉菜類 (基於運送與保存不易，暫不開放)。</dd>
		  <dd>3. 與申請開設農場時類別相異之農產品。</dd>
		  <dd>4. 仿冒品、盜版品、可能涉及侵害他人擁有之專利、著作、商標等權利之商品。</dd>
		  <dd>5. 不開放消費者購買之展示品。</dd>
		  <dd>6. 服務性質之商品。</dd>
		  <dd>7. 廣告性質之商品。</dd>
		  <dd>8. 菸酒管理法 所定義之菸類及酒精類及其製成物。</dd>
		  <dd>9. 毒品／吸毒用品，包括麻醉劑、類固醇和其他管制藥品。</dd>
		  <dd>10. 藥品／號稱具醫療功能之商品（無論是否為取得執照之合法廠商）。</dd>
		  <dd>11. 活體動物／保育類動物及其產製品（如：象牙製品、熊掌）。</dd>
		  <dd>12. 贓物／無處分權物。</dd>
		  <dd>13. 個人情報資料。</dd>
		  <dd>14. 政府證明文件或執照、身分證、護照、警用物品、以及其他執法機關制服裝或徽章。</dd>
		  <dd>15. 統一發票、銷售憑證、捐贈收據或證明以及賭博性商品、彩券。</dd>
		  <dd>16. 貨幣／有價證券（如：股票股條，認股權證，債券，不動產投資證券）。</dd>
		  <dd>17. 含有或暗示色情或猥褻意涵之商品。</dd>
		  <dd>18. 含有或暗示暴力意涵之商品。</dd>
		  <dd>19. 針對特定人物人身攻擊或含有歧視意涵之商品。</dd>
		  <dd>20. 帶有攻擊或有歧視種族、宗教、性別認同、殘疾意涵或鼓吹犯罪之商品。</dd>
		  <dd>21. 其他違反公共秩序、善良風俗或依法令禁止販售、廣告之商品。</dd>
		  <dd>22. 其他經 小農1號 判斷認為不符 小農1號 商品販售政策之商品。</dd>
		</dl>			
		</div>
	</div>		
</div>	