<div class="container main_frontend privacy_policy">
	<div class="row">
		<div class="col-sm-offset-1 col-sm-10">
			<h2 class="text-center">小農1號退換貨政策</h2>		
			<dl>
			  <dd>於產生退換貨糾紛時，小農1號在接獲消費者通知後，將立即進行調查程序，盡力協助買賣雙方釐清責任歸屬。會員同意授權小農1號代理買、賣雙方處理退換貨糾紛，並將配合小農1號的調查與處理程序與最終的退換貨處理措施，包含全部退款、部分退款與重新出貨。</dd>
			  <dt>生鮮食品的退換貨原則</dt>
			  <dd>農產品與生鮮食品屬於消耗性商品，由於商品屬性特殊且有保存期限問題，除商品本身有瑕疵可退貨外，經拆封、食用導致產品、包裝欠缺完整性，或消費者造成之外盒變形、失溫，或保存不良導致變質，我們將不接受退換貨申請。</dd>
			  <dt>包裝外觀如有撞擊或毀損，買方得拒絕收受貨物</dt>
			  <dd>買方於收受貨物時，應先行檢查包裝外觀，是否有遭到撞擊或毀損。包裝外觀如有撞擊或毀損，買方得拒絕收付貨物。</dd>
			  <dt>如有退換貨需求，買方應於收受貨物日的隔天17:30前通知小農1號</dt>
			  <dd>買方於收受貨物後，如認為貨物已符合小農1號退換貨政策的標準，請於收受貨物日的隔天17:30前將貨物拍照，通知小農1號，我們將盡速為您處理。</dd>
			  <dd>如未於收受貨物日隔天17:30前通知，為保障賣方權利，我們將不接受退換貨申請。</dd>
			  <dd>小農1號客服專線：02-87326786</dd>
			  <dd>小農1號客服信箱：sf.inc@smallfarmer01.com</dd>
			  <dt>小農1號的退換貨政策</dt>
			  <dd>
				會員同意小農1號的退換貨政策如下：
				<dd>1) 以下情況，小農1號不接受買方的退換貨申請：</dd>
				<ol>
				  <li>在商品客觀上無瑕疵的情況，買方認為品質不如預期；</li>
				  <li>買方認為出貨速度或到貨速度不如預期；</li>
				  <li>買方認為商品價格較小農1號平台上的其他會員、或小農1號平台以外的其他線上或線下農產品通路高；</li>
				  <li>因買方延遲收付商品或未及時以低溫保鮮，導致商品全部或部分毀壞、腐爛、或不堪食用；</li>
				  <li>其它無正當理由之退貨換貨請求，或可歸責於買方致商品有全部或部分毀損、腐爛、或不堪食用之情事。</li>
				</ol>
				<dd>2) 賣方有下列情況，小農1號將採取全部退款或重新出貨處理措施：</dd>
				<ol>
				  <li>賣方刊登的資訊不實或誇大；</li>
				  <li>賣方無法出貨；</li>
				  <li>商品農藥殘留檢驗結果不符合衛生福利部食品藥物管理署發布的「農藥殘留容許量標準」；</li>
				  <li>商品的全部或部分於出貨時即存在瑕疵，例如，即將到期、於出貨時已有腐爛、毀壞、或不堪食用；</li>
				  <li>賣方於裝箱時碰撞、賣方提供的包裝不夠穩固、賣方未考量氣候因素選擇常溫運送，導致商品半數以上毀壞、腐爛、或不堪食用；</li>
				  <li>其他因賣方的故意或過失行為，導致商品半數以上毀壞、腐爛、或不堪食用。</li>
				</ol>
				<dd>3) 賣方有下列情況，小農1號將採取部分退款處理措施：</dd>
				<ol>
				  <li>因賣方於裝箱時碰撞、或賣方提供的包裝不夠穩固、賣方未考量氣候因素選擇常溫運送，導致產品毀壞、腐爛、或不堪食用，但毀壞、腐爛、或不堪食用之比例未達一半；</li>
				  <li>其他因賣方的故意或過失行為導致產品毀損、腐爛、或不堪食用，但毀壞、腐爛、或不堪食用之比例未達一半。</li>
				</ol>
				<dd>4) 因物流業者運送過程中的故意或過失導致的產品全部或部分毀壞、腐爛、或不堪食用時，小農1號將與物流業者聯繫，協助處理後續賠償事宜。申請賠償流程約需時7-10個工作天，會員同意此段期間的等待。</dd>
			  <dd>
			  <dt>退換貨產生的損失與額外費用支出</dt>
			  <dd>會員同意，賣方應負擔小農1號於代理買、賣雙方處理退換貨事宜時，所產生的損失與代墊支出的費用，包括因退款產生的跨行轉帳手續費、因退款而損失的金流處理費用與運費。</dd>
			  <dt>退換貨政策的修正</dt>
			  <dd>會員同意，小農1號得在不事先通知的情況下，隨時修正退換貨政策。修正後的退換貨政策於小農1號平台公布時，立即生效。請您定期查詢公佈在小農1號平台的退換貨政策，確保您知悉最新退換貨政策。</dd>
			  <dd>如您不同意我們的退換貨政策，請立即停止使用本平台。</dd>
			</dl>		
		
		</div>
	</div>	
</div>				