<%if @keyword%>
	<% content_for :title do %>
	    <title><%= @keyword.content %> | 小農1號線上水果平台</title>  
	<% end %>
	<%= render partial: "keyword", locals: { keyword: @keyword, products: @products } %>
<%elsif @all%>
	<div class="container-fluid main_frontend" style="padding-top: 40px;"><br>
		<% @all.each_slice(4) do |a|%> 
			<div class="row">
				<% a.each_with_index do |aa, index|%>
					<%if aa.class.name == 'Product'%>
						<%=render partial: "product", locals: { product: aa, index: index, slice: 4 } %>
					<%elsif aa.class.name == 'Company'%>
						<%=render partial: "farm", locals: { farm: aa, index: index, slice: 4 } %>					
					<%end%>				
				<%end%>	
			</div>			
		<%end%>				
	</div>	
<%else%>		
	<div class="container-fluid main_frontend" style="padding-top: 40px;"><br>
		<h4 class="text-center">抱歉，沒有找到您要的商品或小農</h4>
	</div>	
<%end%>
<script>
var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter"}});
new ScrollMagic.Scene({triggerElement: ".product_index_delicious_sum"})
		.addTo(controller)
		.on('start', function(e){
			$('.product_index_delicious_sum').each(function () {
			  var $this = $(this);
			  jQuery({ Counter: 0 }).animate({ Counter: $this.attr("data-count") }, {
			    duration: 1000,
			    easing: 'swing',
			    step: function () {
			      $this.text(Math.floor(this.Counter));
			    },
			  	complete: function() {
			  		$this.html($this.attr("data-count"));
			  	}		    
			  });
			});					
		});	
			
//====================== fb ======================//		
fbq('track', 'Search');		
</script>