<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />   
  </head>
  <body style="width: 640px; font-family: Heiti TC, Microsoft JhengHei, sans-serif;">
	<div class="header" style="height: 80px;">   	
		<div class="header_bg_left" style="float: left; background: #78b658; width: 240px; height: 70px;">  	
		<%= link_to image_tag('mail/smallfarmer01.png', style: 'margin-left: 50px; margin-top: 20px; width: 130px;'), root_url %>
		</div>
		<div class="header_bg_center" style="float: left; width: 80px;">
		<div class="header_bg_center_square" style="background: #78b658; height: 30px;"></div>	
		<div class="header_bg_center_triangle" style="width: 0; height: 0; border-top: 40px solid #78b658; border-right: 80px solid transparent;"></div>				
		</div>
		<div class="header_bg_right" style="float: left; background: #78b658; width: 320px; height: 30px;"></div>		
	</div>	
	
	<div class="logo_container" style="width: 580px; margin: 0px auto;">
		<div class="logo_right" style="border-top: 2px solid #cdc38f; display:inline-block; width: 246px; margin-bottom: 25px;"></div>			
		<%=image_tag 'mail/logo.png', class: 'logo', style: 'width: 60px; margin-left: 10px; margin-right: 10px; display:inline-block;'%>
		<div class="logo_left" style="border-top: 2px solid #cdc38f; display:inline-block; width: 246px; margin-bottom: 25px;"></div>				
	</div>	
	
	<div class="content_outter" style="width: 550px; margin: 0 auto;">   
		<div class="content" style="margin-top: 30px; color: #3e3a39">    	
				<p>xxx 您好!</p>
				
				<p>您可透過以下連結更換密碼</p>
				
				<p><%= link_to '更換我的密碼', '' %></p>
				
				<p>如果您沒要求更改密碼，請您忽略此信。</p>
				<p>除非您點擊上面連結並更換密碼，否則您的密碼都不會改變</p>
		</div>
		<div style="text-align: right;">-- 小農1號團隊</div>	
	</div>
	<div class="company_info_container" style="width: 580px; margin: 0px auto; color: #7c7b7b; margin-top: 50px;">
		<div class="company_info_right" style="border-top: 2px solid #cdc38f; display:inline-block; width: 210px; margin-bottom: 60px;"></div>	
		<div class="company_info" style="background: #FFFFFF;  width: 150px; font-size: 12px; text-align: center; display:inline-block;">	
			<div>小農號有限公司</div>
			<div>smallFarmer Inc.</div>
			<div>(02) 8732-6786 </div>
			<div>sf.inc@smallfarmer01.com</div>	
			<div style="margin-top: 10px;">
				<a href="https://www.facebook.com/smallfarmer01"><%=image_tag 'mail/facebook.png', style: 'width: 30px;'%></a>
			</div>
		</div>	
		<div class="company_info_left" style="border-top: 2px solid #cdc38f; display:inline-block; width: 210px; margin-bottom: 60px;"></div>			
	</div>		
	<div class="footer_upper" style="height: 30px; margin-top: 0px;">
		<div class="footer_bg_right" style="float: right; background: #78b658; width: 200px; height: 30px;"></div>		
		<div class="footer_bg_center_triangle" style="float: right; width: 0; height: 0; border-bottom: 35px solid #78b658; border-left: 80px solid transparent;"></div>				
	</div>
	<div class="footer_lower" style="background: #78b658; width: 600px; font-size: 9px; line-height: 11px; color: #FFFFFF; padding: 14px 20px;">
	煩請務必將此郵件地址加入安全的寄件者，或是直接點選非垃圾郵件等類似功能，避免系統發送的郵件被放入垃圾郵件中。<br>
	另外，no-reply@smallfarmer01.com 所寄出之信件，皆由系統自動發送。在此提醒您，請勿直接回覆或透過此郵
	件地址與我們聯繫，我們將不會收到您所留下的任何訊息。若有網站使用上的疑問，請透過電話或客服信箱來詢問。
	</div>	    
  </body>
</html>

