<br><br><br><br><br><br><br><br>
          <form class="" action="/main/search" method="get">
            <div id="remote">
            <input type="text" class="form-control rounded typeahead" id="search_term" placeholder="搜尋水果、農場">
    		<button type="submit" class="btn btn-default hidden-xs" style="border: none; background: none; color: #536132;"><span class="glyphicon glyphicon-search"></span></button>  		
    		</div>
    	  </form>  
    	  
<script>
</script>	