<div class="hidden-xs" style="background-color: #f3f3f2;   
  			background-image: url(<%= asset_path 'paper_texture.png'%>);">
	<div style="margin: 0 auto; width: 700px; background:">
	<%=image_tag 'under.png', style: 'width: 700px;' %>
	<a href='https://www.facebook.com/smallfarmer01'>
	<div style="width: 700px; height: 120px; background: none; 
				position: absolute;
				top: 560px;"></div>	
	</a>
	</div>	
</div>
<div class="hidden-sm hidden-md hidden-lg" style="background-color: #f3f3f2;   
  			background-image: url(<%= asset_path 'paper_texture.png'%>);">
	<a href='https://www.facebook.com/smallfarmer01'>
	<div style="margin: 0 auto; width: 100%; background:">
	<%=image_tag 'under.png', style: 'width: 100%' %>
	</div>	
	</a>
</div>