<div class="col-sm-8 vmiddle text-left">
	<%=link_to notification.content, '/users/'+current_user.id.to_s+'/mobileSMSConfirmation', 
			   id: 'notification_'+notification.id.to_s, class: 'notification_link' %>
</div>