<div class="container-fluid main_frontend">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">	
			<div class="text-center" style="font-size: 26px;">小農帳號登入</div>
			<p class="text-center">忘記您的密碼?</p>			
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal", role: "form" }) do |f| %>
		  <%= devise_error_messages! %>
			<div class="form-group">
				<div class="col-sm-12">
		    	<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: '電子信箱' %>
		    	</div>
		  	</div>
			<div class="form-group" style="margin-top: 30px;">
				<div class="col-sm-12">
		    	<%= f.submit "寄送重設密碼通知", class: "btn btn-success add_button btn-block" %>
		  		</div>
		  	</div> 
		<% end %>			
		</div>
	</div>	
</div>