.main_backend {
  margin-top: 52px;  
  padding: 10px 20px;
}
@media (max-width: 768px) {
  .main_backend {
    padding: 0px 20px;    
  }
}

/*======================================= Sidebar navigation =======================================*/
.sidebar {
    margin-top: 52px;
    left: 0;
    padding: 70px 30px;
    overflow-x: hidden;
    background-color: none;
}
.sidebar_user_img{
  height: 110px;
  width: 110px;
  border: solid 1px #526031;
  padding: 3px;
  background-clip: content-box; /* support: IE9+ */
  background-color: transparent;  
}
.sidebar_info_title{
  font-size: 23px;
  margin-top: 18px;
  text-align: center;
}
.description-sidebar{
  margin: 0;
  padding: 0;
  list-style-type: none;
  word-break: break-all;  
}
.description-sidebar > li{
  padding: 6px 0px;  
  text-align: center;   
}
.description-sidebar > li > .description-sidebar-container{
  margin: 0 auto;  
  max-width: 200px;
  text-align: left; 
}
.description-sidebar > li .glyphicon{
  margin-right: 8px;
}

.nav-sidebar {
}

.nav-sidebar > li {
  text-align: center;  
  padding: 6px 0px;
}
.nav-sidebar > li > a{
  margin: 0 auto;  
  max-width: 80px;
  padding: 5px 10px;
  color:  #526031;  
  border: solid 1px #526031; 
}
.nav-sidebar > li > a:hover {
  opacity: 0.8
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #64bb71;
  border: solid 1px #64bb71;
}

@media (max-width: 768px) {
  .sidebar {
    margin-top: 52px;
    left: 0;
    padding: 20px 30px;
    overflow-x: hidden;
    background-color: none;
  }
  .nav-sidebar > li > a {
    max-width: none;
  }  
}
/*======================================= Center =======================================*/
.main_backend-tabs{
    border-bottom: 1px solid #526031;
}
.main_backend-tabs > li > a, 
.main_backend-tabs > li > a:hover, 
.main_backend-tabs > li > a:focus{
    color: #526031;  
    background: inherit;     
    border-bottom: none;     
}
.main_backend-tabs > li > a:hover, 
.main_backend-tabs > li > a:focus{
    opacity: 0.8;    
}
.main_backend-tabs > li.active > a, 
.main_backend-tabs > li.active > a:hover, 
.main_backend-tabs > li.active > a:focus{
    color: #526031;
    background: inherit; 
    border: 1px solid #526031;   
    border-bottom: 1px solid #f1f0ec; 
}

.main_backend-tab-content {
    min-height: 500px;
    padding: 50px 15px;
    border: 1px solid #526031;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}