.comment_post{
  margin-top: 20px;  
}
.comment_post img{
  height: 50px;
  width: 50px;
}

.talkbubble_right {
  position: relative;
  padding: 0px;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  background: #F4F4F2;
  margin-bottom: 10px;
}
.talkbubble_right:before {
  content:"";
  position: absolute;
  left: 100%;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 10px solid #F4F4F2;
  border-bottom: 8px solid transparent;
}
.talkbubble {
  position: relative;
  padding: 0px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  background: #F4F4F2;
  margin-bottom: 10px;
}
.talkbubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 10px solid #F4F4F2;
  border-bottom: 8px solid transparent;
}
.talkbubble textarea, .talkbubble_right textarea {
  border-radius: inherit !important;  
  position: inherit !important;
  background: inherit !important; 
  margin: 0 !important;
  border: none !important;
  resize: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;   
}
.talkbubble textarea:focus, .talkbubble_right textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;  
}
.talkbubble_content{
  height: 50px;
  border-radius: inherit !important;  
  position: inherit !important;
  background: inherit !important; 
  margin: 0 !important;
  border: none !important;
  resize: none !important;
  padding: 10px 10px;
}
.comment_row{
  margin-top: 20px;
}
.comment_msg{
  font-size: 15px;
  background: #F4F4F2;
  padding: 5px 10px;
  color: #000000;  
}
.comment_msg textarea{
  border-radius: inherit !important;  
  position: inherit !important;
  background: inherit !important; 
  margin: 0 !important;
  border: none !important;
  resize: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;     
}
.comment_msg textarea:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
}
.comment_sub_row{
  margin-top: 20px;  
}
.comment_button{
  border: none;
  border-radius: 0;
  font-size: 16px;
  padding: 4px 10px;
  box-shadow: 3px 3px rgb(209, 209, 200); 
  background: #f8f5f3;  
}
.comment_button:hover{
}
.comment_op{
  color: #536132;  
}
.comment_reply:hover{
  opacity: 0.8;  
}
@media (max-width: 500px) {
  .comment_op{
    margin-left: 25px;
  }
  .talkbubble {
    margin-left: 30px;
  }  
}
@media (max-width: 320px) {
  .comment_row img{
    display: none;
  }
  .comment_sub_row img{
    display: none;
  }
  
}