.comment_textarea{
  background: rgba(209, 209, 200, 0.5); 
}
.comment_row{
  margin-bottom: 10px;
}
.comment_msg{
  background: rgba(209, 209, 200, 0.5);
  padding: 5px 10px;
}

.comment_sub_row{
  margin-bottom: 10px;  
}
