.comment_post{
  margin-top: 20px;  
}
.comment_textarea{
  background: rgba(209, 209, 200, 0.5); 
}
.comment_row{
  margin-top: 20px;
}
.comment_msg{
  font-size: 15px;
  background: rgba(209, 209, 200, 0.5);
  padding: 5px 10px;
}

.comment_sub_row{
  margin-top: 20px;  
}

.comment_button{
  
}
.comment_button{
  border: none;
  border-radius: 0;
  font-size: 16px;
  padding: 4px 10px;
  box-shadow: 3px 3px rgb(209, 209, 200);  
}
.comment_button:hover{
}