.comment_post{
  margin-top: 20px;  
}
.comment_post img{
  height: 50px;
  width: 50px;
}
.talkbubble {
  position: relative;
  padding: 0px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  background: #ffffff;
  margin-bottom: 10px;
}
.talkbubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 10px solid #ffffff;
  border-bottom: 8px solid transparent;
}
.talkbubble textarea {
  border-radius: inherit !important;  
  position: inherit !important;
  background: inherit !important; 
  margin: 0 !important;
  border: none !important;
  resize: none !important;
}

.comment_row{
  margin-top: 20px;
}
.comment_msg{
  font-size: 15px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  color: #000000;  
}

.comment_sub_row{
  margin-top: 20px;  
}

.comment_button{
  
}
.comment_button{
  border: none;
  border-radius: 0;
  font-size: 16px;
  padding: 4px 10px;
  box-shadow: 3px 3px rgb(209, 209, 200);  
}
.comment_button:hover{
}
.comment_op{
  color: #536132;
  margin-left: 10px;  
}
.comment_reply:hover{
  opacity: 0.8;  
}
@media (max-width: 500px) {
  .comment_op{
    margin-left: 25px;
  }
  .talkbubble {
    margin-left: 30px;
  }  
}