.farm_triangle {
  width: 0;
  height: 0;
  border-bottom: 160px solid rgba(199, 210, 154, 0.3);
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
}

.farm_triangle_text {
  padding-top: 130px;
  font-size: 27px;
  width: 250px;
  margin-left: -125px;
  text-align: center;
}

.farm_description{
  width: 600px;
  font-size: 18px;
  background: rgba(199, 210, 154, 0.3);
  padding: 35px 55px;
  min-height: 280px;
}
.farm_user_img{
  height: 135px;
  width: 140px;  
}
.farm_words{
  margin: 0px auto;
  width: 600px;
  color: #241915;  
}
.farm_words_quote{
  font-size: 45px;
  vertical-align: -20px; 
  line-height: 15px;
}
.farm_words_content{
  font-size: 17px; 
  line-height: 32px; 
}
.farm_words_name{
  width: 600px;  
  text-align: right;
  font-size: 18px;   
  margin-bottom: 20px;
}

.farm_cover_parallax_parent {
  height: 600px;
  overflow: hidden;
}
.farm_cover_parallax_parent > * {
  height:  200%;
  position: relative;
  top: 0%;
}

.farm_fruits{
  text-align: center;
  margin-top: 30px;
}
.farm_fruits a{
  color: #605856; 
}
.farm_fruits a:hover,.farm_fruits a:focus{
  text-decoration: none; 
  opacity: 0.8;
}
.farm_fruits_container{
  
}
.farm_fruits_img{
  width: 150px;
  height: 150px;
  border: solid 1px #a8bb7f;
  padding: 3px;
  background-clip: content-box; /* support: IE9+ */
  background-color: transparent;
}
.farm_fruits_name{
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold; 
}
.farm_fruits_farm_name{
  margin-top: 5px;  
  font-size: 16px;  
}
.farm_fruits_price{
  margin-top: 15px;  
  font-size: 16px;  
}
.farm_fruits_reviews{
  margin-top: 10px;    
}
.farm_fruits_excellent{
  color: #de562c;
  font-size: 29px;
}
.farm_fruits_excellent_text{
}
.farm_fruits_icons{
  margin-top: 10px;
}
.farm_fruits_icons img{ 
  margin-right: 5px;
}
@media (max-width: 1750px) {
  .farm_triangle {
    border-left: 275px solid transparent;
    border-right: 275px solid transparent;
  }  
  .farm_description{
    width: 550px;
    font-size: 16px;
    padding: 35px 55px;
    min-height: 250px;    
  }  
  .farm_user_img{
  }
  .farm_cover_parallax_parent {
    height: 500px;
  }  
  .farm_words, .farm_words_name{
    width: 530px;
  }  
}
@media (max-width: 1500px) {
  .farm_triangle {
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
  }  
  .farm_description{
    width: 480px;
    font-size: 16px;
    padding: 35px 55px;
  }  
  .farm_user_img{
    height: 120px;
    width: 130px;      
  }
  .farm_cover_parallax_parent {
    height: 450px;
  }  
  .farm_words, .farm_words_name{
    width: 420px;
  }  
}
@media (max-width: 1280px) {
  .farm_triangle {
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
  }  
  .farm_description{
    width: 440px;
    font-size: 16px;
    padding: 35px 45px;
  }  
  .farm_user_img{
    height: 120px;
    width: 130px;      
  }
  .farm_words, .farm_words_name{
    width: 370px;
  }   
  .farm_fruits_img{
    width: 110px;
    height: 110px;
  }
  .farm_fruits_name{
    margin-top: 22px;
    font-size: 18px;
    height: 40px;
  }
  .farm_fruits_farm_name{
    font-size: 14px;  
  }
  .farm_fruits_price{
    margin-top: 15px;  
    font-size: 16px;  
  }  
  .farm_fruits_icons img{ 
    margin-right: 5px;
    height: 20px;
  }  
}
@media (max-width: 1100px){
  .farm_words, .farm_words_name{
    width: 330px;
  }     
  .farm_user_img{
    visibility: hidden;
  }  
}
@media (max-width: 992px) {
  .farm_triangle {
    display: none;
    visibility: hidden;
  }  
  .farm_description{
    width: 100%;
    font-size: 16px;
    padding: 35px 45px;
    min-height: 0px;     
  }  
  .farm_words, .farm_words_name{
    width: 100%;
    text-align: center;
  }
  .farm_fruits_img{
    width: 130px;
    height: 130px;
  }    
  .farm_fruits_img{
    width: 90px;
    height: 90px;
  }
  .farm_fruits_price{
    margin-top: 15px;  
    font-size: 14px;  
  }    
}
/*======================================= Carousel =======================================*/
.farm_carousel
{ 
  margin-bottom: 30px !important;  
  width: 420px !important;  
  border-radius: 20px !important;  
}
.farm_carousel-inner{
  border-radius: 20px !important;    
}
.farm_item img
{  
  width: 420px !important; 
  height: 280px !important;    
}
.farm_carousel-indicators li {
  border: none;
  width: 10px;
  height: 10px;  
  background-color: rgba( 100, 100, 100, 0.6);
}
.farm_carousel-indicators .active {
  background-color: rgba( 255, 255, 255, 0.6);
  width: 10px;
  height: 10px;    
}
.farm_carousel-control {
  &.left, &.right {
    background: none;
    position:absolute; 
    @include reset-filter();
  }
  &.left{
    margin-left: -45px; color: black;
  }  
  &.right{
    margin-right: -45px; color: black;
  }     
}
@media (max-width: 1500px) {
   .farm_carousel{
     width: 330px !important; 
   }
  .farm_item img{  
    width: 330px !important; 
    height: 220px !important;    
  }
}
@media (max-width: 1280px) {
   .farm_carousel{
     width: 300px !important; 
   }
  .farm_item img{  
    width: 300px !important; 
    height: 200px !important;    
  }
}
@media (max-width: 1100px) {
   .farm_carousel{
     width: 320px !important; 
   }
  .farm_item img{  
    width: 320px !important; 
    height: 200px !important;  
  }
}
@media (max-width: 992px) {
  .farm_carousel{
    width: 500px !important;   
    margin-top: 50px !important;  
  }  
  .farm_item img {
    width: 100% !important;      
    height: 300px !important;
  }  
}
@media (max-width: 480px) {
  .farm_carousel{
    width: 100% !important;    
  }     
  .farm_item img {
    width: 100%;     
    height: 200px;
  }  
}
/*================================ index =================================*/
.farm_index_container{
  margin-top: 38px;
}
.farm_index_container a{
  color: #605856;
  font-size: 22px;  
}
.farm_index_container a:hover{
  text-decoration: none;
}
.farm_index_image_container{
  width: 400px;
  margin: 0 auto; 
  position: relative
}
.farm_index_avatar{
  position: absolute;
  right: -20px; 
  top: 230px;
  width: 87px;
  z-index: 1;    
  padding: 3px;
  background-color: #ffffff;
}
.farm_index_cover{
  width: 400px;
  height: 300px;    
  z-index: -1;
}
.farm_index_delicious_container{
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 254px;
  width: 400px;
  z-index: 0;  
}
.farm_index_delicious_sum{
  font-size: 150%;  
  color: #DE562C;
}
.farm_index_location{
  margin-top: 10px;
  font-size: 80%;    
}
.farm_index_name{
  font-size: 120%;    
}

@media (max-width: 1687px) {
  .farm_index_container a{
    font-size: 20px;  
  }
  .farm_index_image_container{
    width: 345px;
  }    
  .farm_index_avatar{
    right: -14px;  
    top: 210px;
    width: 67px;
  }
  .farm_index_cover{
    width: 345px;
    height: 258.5px;  
  }
  .farm_index_delicious_container{
    top: 220px;
    width: 345px;
  }
}
@media (max-width: 1535px) {
  .farm_index_container a{
    font-size: 18px;  
  }
  .farm_index_image_container{
    width: 265px;
  }    
  .farm_index_avatar{
    right: -16px;  
    top: 150px;
    width: 67px;
  }
  .farm_index_cover{
    width: 265px;
    height: 198.7px;  
  }
  .farm_index_delicious_container{
    top: 160px;
    width: 265px;
  }
}
@media (max-width: 1178px) {
 .farm_index_container a{
    font-size: 20px;  
  }
  .farm_index_image_container{
    width: 345px;
  }    
  .farm_index_avatar{
    right: -14px;  
    top: 210px;
    width: 67px;
  }
  .farm_index_cover{
    width: 345px;
    height: 258.5px;  
  }
  .farm_index_delicious_container{
    top: 220px;
    width: 345px;
  }
}

@media (max-width: 767px) {
 .farm_index_container a{
    font-size: 20px;  
  }
  .farm_index_image_container{
    width: 375px;
  }    
  .farm_index_avatar{
    right: -14px;  
    top: 220px;
    width: 67px;
  }
  .farm_index_cover{
    width: 375px;
    height: 281.5px;  
  }
  .farm_index_delicious_container{
    top: 240px;
    width: 375px;
  }
}

@media (max-width: 426px) {
  .farm_index_container a{
    font-size: 18px;  
  }
  .farm_index_image_container{
    width: 265px;
  }    
  .farm_index_avatar{
    right: -16px;  
    top: 150px;
    width: 67px;
  }
  .farm_index_cover{
    width: 265px;
    height: 198.7px;  
  }
  .farm_index_delicious_container{
    top: 160px;
    width: 265px;
  }
}