.farm_triangle {
  width: 0;
  height: 0;
  border-bottom: 150px solid rgba(199, 210, 154, 0.3);
  border-left: 225px solid transparent;
  border-right: 225px solid transparent;
}

.farm_triangle_text {
  padding-top: 100px;
  font-size: 26px;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}


.farm_description{
  width: 450px;
  font-size: 16px;
  background: rgba(199, 210, 154, 0.3);
  padding: 35px 55px;
}


.farm_words{
  margin: 0px auto;
  width: 400px;
  color: #241915;  
}
.farm_words_quote{
  font-size: 45px;
  vertical-align: -20px; 
  line-height: 15px;
}
.farm_words_content{
  font-size: 18px; 
  line-height: 32px; 
}
.farm_words_name{
  width: 400px;  
  text-align: right;
  font-size: 18px;   
  margin-bottom: 20px;
}

.farm_cover_parallax_parent {
  height: 400px;
  overflow: hidden;
}
.farm_cover_parallax_parent > * {
  height:  250%;
  position: relative;
  top: 0%;
}

.farm_fruits{
  margin-top: 60px;  
  text-align: center;
}
.farm_fruits img{
  border: solid 1px #526031;
  padding: 3px;
  background-clip: content-box; /* support: IE9+ */
  background-color: transparent;
}
.farm_fruits_name{
  margin-top: 50px;
  font-size: 18.5px;
}
.farm_fruits_price{
  margin-top: 20px;  
  font-size: 17px;  
}
.farm_fruits_reviews{
  margin-top: 10px;    
}
.farm_fruits_excellent{
  color: #de562c;
  font-size: 29px;
}
.farm_fruits_excellent_text{
}
/*======================================= Carousel =======================================*/
.farm_carousel
{ 
  margin-bottom: 30px !important;  
  width: 340px !important;  
 
}
.farm_carousel_img img
{  
  width: 340px; 
  height: 250px;   
  border-radius: 20px;   
}
.farm_carousel-indicators li {
  border: none;
  width: 10px;
  height: 10px;  
  background-color: rgba( 100, 100, 100, 0.6);
}
.farm_carousel-indicators .active {
  background-color: rgba( 255, 255, 255, 0.6);
  width: 10px;
  height: 10px;    
}
.farm_carousel-control {
  &.left, &.right {
    background: none;
    position:absolute; 
    @include reset-filter();
  }
  &.left{
    margin-left: -45px; color: black;
  }  
  &.right{
    margin-right: -45px; color: black;
  }     
}


@media (max-width: 992px) {
 .farm_carousel{
   width: 100% !important; 
 }
  .farm_carousel_img img {
    width: 100%;
    height: 220px;
 } 
}
@media (max-width: 768px) {
  .farm_carousel{
    width: 65% !important;    
  }  
  .farm_carousel_img img {
    width: 100%;     
    height: 200px;
  }  
}
@media (max-width: 480px) {
  .farm_carousel{
    width: 100% !important;    
  }
  .farm_item{
    height: 200px;
  }     
  .farm_carousel_img img {
    width: 100%;     
    height: 200px;
  }  
}