.farm_triangle {
  width: 0;
  height: 0;
  border-bottom: 160px solid rgba(199, 210, 154, 0.3);
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
}

.farm_triangle_text {
  padding-top: 130px;
  font-size: 27px;
  width: 250px;
  margin-left: -125px;
  text-align: center;
}

.farm_description{
  width: 600px;
  font-size: 16px;
  background: rgba(199, 210, 154, 0.3);
  padding: 35px 55px;
  min-height: 280px;
}
.farm_user_img{
  height: 135px;
  width: 140px;  
}
.farm_words{
  margin: 0px auto;
  width: 600px;
  color: #241915;  
}
.farm_words_quote{
  font-size: 45px;
  vertical-align: -20px; 
  line-height: 15px;
}
.farm_words_content{
  font-size: 17px; 
  line-height: 32px; 
}
.farm_words_name{
  width: 600px;  
  text-align: right;
  font-size: 18px;   
  margin-bottom: 20px;
}

.farm_cover_parallax_parent {
  height: 600px;
  overflow: hidden;
}
.farm_cover_parallax_parent > * {
  height:  200%;
  position: relative;
  top: 0%;
}

.farm_fruits{
  text-align: center;
  margin-top: 30px;
}
.farm_fruits a{
  color: #433E3C; 
}
.farm_fruits a:hover,.farm_fruits a:focus{
  text-decoration: none; 
  opacity: 0.8;
}
.farm_fruits_container{
  
}
.farm_fruits_img{
  width: 150px;
  height: 150px;
  border: solid 1px #a8bb7f;
  padding: 3px;
  background-clip: content-box; /* support: IE9+ */
  background-color: transparent;
}
.farm_fruits_name{
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold; 
}
.farm_fruits_farm_name{
  margin-top: 5px;  
  font-size: 16px;  
}
.farm_fruits_price{
  margin-top: 15px;  
  font-size: 16px;  
}
.farm_fruits_reviews{
  margin-top: 10px;    
}
.farm_fruits_excellent{
  color: #de562c;
  font-size: 29px;
}
.farm_fruits_excellent_text{
}
.farm_fruits_icons{
  margin-top: 10px;
}
.farm_fruits_icons img{ 
  margin-right: 5px;
}
@media (max-width: 1750px) {
  .farm_triangle {
    border-left: 275px solid transparent;
    border-right: 275px solid transparent;
  }  
  .farm_description{
    width: 550px;
    font-size: 16px;
    padding: 35px 55px;
    min-height: 250px;    
  }  
  .farm_user_img{
  }
  .farm_cover_parallax_parent {
    height: 500px;
  }  
  .farm_words, .farm_words_name{
    width: 530px;
  }  
}
@media (max-width: 1500px) {
  .farm_triangle {
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
  }  
  .farm_description{
    width: 480px;
    font-size: 16px;
    padding: 35px 55px;
  }  
  .farm_user_img{
    height: 120px;
    width: 130px;      
  }
  .farm_cover_parallax_parent {
    height: 450px;
  }  
  .farm_words, .farm_words_name{
    width: 420px;
  }  
}
@media (max-width: 1280px) {
  .farm_triangle {
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
  }  
  .farm_description{
    width: 440px;
    font-size: 16px;
    padding: 35px 45px;
  }  
  .farm_user_img{
    height: 120px;
    width: 130px;      
  }
  .farm_words, .farm_words_name{
    width: 370px;
  }   
  .farm_fruits_img{
    width: 110px;
    height: 110px;
  }
  .farm_fruits_name{
    margin-top: 22px;
    font-size: 18px;
    height: 40px;
  }
  .farm_fruits_farm_name{
    font-size: 14px;  
  }
  .farm_fruits_price{
    margin-top: 15px;  
    font-size: 16px;  
  }  
  .farm_fruits_icons img{ 
    margin-right: 5px;
    height: 20px;
  }  
}
@media (max-width: 1100px){
  .farm_words, .farm_words_name{
    width: 330px;
  }     
  .farm_user_img{
    visibility: hidden;
  }  
}
@media (max-width: 992px) {
  .farm_triangle {
    display: none;
    visibility: hidden;
  }  
  .farm_description{
    width: 100%;
    font-size: 16px;
    padding: 35px 45px;
    min-height: 0px;     
  }  
  .farm_words, .farm_words_name{
    width: 100%;
    text-align: center;
  }
  .farm_fruits_img{
    width: 130px;
    height: 130px;
  }    
  .farm_fruits_img{
    width: 90px;
    height: 90px;
  }
  .farm_fruits_price{
    margin-top: 15px;  
    font-size: 14px;  
  }    
}
/*======================================= company image =======================================*/
.company_image_container_outter{
  width: 100%;
  height: 0;
  padding-bottom: 65% ; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
}
.company_image_container{
  width: 100%;
  height: 0;
  padding-bottom: 75% ; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}


.company_image_upper_container_outter{
  width: 100%;
  height: 0;
  padding-bottom: 70% ; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
}
.company_image_upper_container{
  width: 100%;
  height: 0;
  padding-bottom: 70% ; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}
.company_image_container_right{ padding-left: 0px; padding-right: 2px; }
.company_image_container_left{ padding-right: 0px; padding-left: 2px; }
.company_image_container_down_right{ padding-left: 0px; padding-right: 2.67px; }
.company_image_container_down_center{ padding: 0px 1.33px;}
.company_image_container_down_left{ padding-right: 0px; padding-left: 2.67px; }
@media (max-width: 1700px) { 
}
@media (max-width: 1560px) {  
}
@media (max-width: 1360px) {    
}
@media (max-width: 970px) {    
}
@media (max-width: 768px) {   
}
@media (max-width: 640px) {  
}
@media (max-width: 530px) {   
}
@media (max-width: 480px) {  
}
@media (max-width: 414px) {    
}
@media (max-width: 375px) {   
}
@media (max-width: 320px) {  
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.company_image_container span.overlay { position: absolute; top: 0; right: 0; height: 100%; width: 100%; background-color: #000;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    display: block; visibility: visible; opacity: 0.55; -moz-opacity: 0.55; -webkit-opacity: 0.55; filter: alpha(opacity=65); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";    
}     
.company_image_container span.overlay i{ position: absolute; top: 40%; left: 0%; width: 100%; font-size: 1em; color: #fff !important; text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

.company_image_container_outter, .company_image_upper_container_outter { overflow: hidden; }
.company_image_container, .company_image_upper_container{ 
    transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s; 
}
.company_image_container:hover, .company_image_upper_container:hover { transform: scale(1.2); -ms-transform: scale(1.2); -webkit-transform: scale(1.2); -o-transform: scale(1.2); -moz-transform: scale(1.2); }

/*================================ index =================================*/
.farm_index_container{
  margin-top: 55px;
}
.farm_index_container a{
  color: #433E3C;
  font-size: 21px;  
}
.farm_index_container a:hover{
  text-decoration: none;
}
.farm_index_image_container{
  width: 90%;
  height: 0;
  padding-bottom: 65%; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}
.farm_index_avatar{
  position: absolute;
  right: -20px; 
  bottom: -10px;
  width: 70px;
  height: 70px;  
  z-index: 1;    
  padding: 3px;
  background-color: #ffffff;
}
.farm_index_delicious_container{
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;  
}
.farm_index_delicious_sum{
  font-size: 150%;  
  color: #DE562C;
}
.farm_index_location{
  margin-top: 10px;
  font-size: 80%;    
}
.farm_index_name{
  font-size: 120%;    
}

@media (max-width: 1535px) {
  .farm_index_container a{
    font-size: 18px;  
  }
  .farm_index_avatar{ 
    bottom: -10px;
    width: 60px;
    height: 60px;       
  }

}
@media (max-width: 1178px) {
 .farm_index_container a{
    font-size: 20px;  
  }
  .farm_index_avatar{  
    bottom: -10px;
    width: 70px;
    height: 70px;         
  }
}

@media (max-width: 767px) {
 .farm_index_container a{
    font-size: 20px;  
  }  
  .farm_index_avatar{      
    bottom: -10px;
    width: 70px;
    height: 70px;    
  }
}

@media (max-width: 426px) {
 .farm_index_container a{
    font-size: 18px;  
  }  
  .farm_index_avatar{      
    bottom: -10px;
    width: 58px;
    height: 58px;    
  }
}