.farm_words_quote{
  font-size: 25px;
}
.farm_words_content{
  font-size: 18px; 
  line-height: 35px; 
}
.farm_words_name{
  font-size: 18px;   
  margin-bottom: 30px;
}


.farm_cover{
  width: 100%;
  height: 500px;
  margin-top: 30px;  
}
.farm_fruits{
  margin-top: 118px;  
  text-align: center;
}
.farm_fruits img{
  border: solid 1px #526031;
  padding: 3px;
  background-clip: content-box; /* support: IE9+ */
  background-color: transparent;
}
.farm_fruits_name{
  margin-top: 50px;
  font-size: 18.5px;
}
.farm_fruits_price{
  margin-top: 20px;  
  font-size: 17px;  
}
.farm_fruits_reviews{
  margin-top: 10px;    
}
.farm_fruits_excellent{
  color: #de562c;
  font-size: 29px;
}
.farm_fruits_excellent_text{
}
/*======================================= Carousel =======================================*/
.farm_carousel .farm_item 
{
  height: 250px;
}
.farm_carousel_img img
{
  width: 100%;
  height: 250px;
  border-radius: 20px;    
}
.farm_carousel-indicators li {
  border: none;
  width: 10px;
  height: 10px;  
  background-color: rgba( 100, 100, 100, 0.6);
}
.farm_carousel-indicators .active {
  background-color: rgba( 255, 255, 255, 0.6);
  width: 10px;
  height: 10px;    
}

@media (max-width: 992px) {

 .farm_carousel .farm_item {
     height: 640px;
 }
  .farm_carousel_img img {
    width: 100%;
    height: 700px;
 } 
}

@media (max-width: 768px) {

   .farm_carousel .farm_item {
      width: 100%;     
     height: 470px;
    }
   .farm_carousel_img img {
     width: 100%;     
     height: 470px;
 }  
}

.farm_carousel-control {
  &.left, &.right {
    background: none;
    @include reset-filter();
  }
}
.farm_carousel .farm_carousel-control { visibility: hidden; }
.farm_carousel:hover .farm_carousel-control { visibility: visible; }
