/*======================================= cash flow =======================================*/
.farmer_get_layer_horizon{  
  text-align: center;  
  float: left;
  border-right: 1px solid #DEDDDC;
}
.farmer_get_inner_horizon{
  background: #e5e1dd;  
  height: 60px;
}
.shipping_rates_layer_horizon{
  text-align: center;  
  float: left;
  border-right: 1px solid #DEDDDC;  
}
.shipping_rates_inner_horizon{
  background: #DEDDDC;
  height: 60px;  
}
.cash_flow_layer_horizon{
  text-align: center;  
  float: left;
  border-right: 1px solid #DEDDDC;  
}
.cash_flow_inner_horizon{
  background: #c9c4c0;   
  height: 60px;  
}
.administration_layer_horizon{
  text-align: center;  
  float: left;
  border-right: 1px solid #DEDDDC;
}
.administration_inner_horizon{
  background: #afaaa5;
  height: 60px;   
}
.coupon_layer_horizon{
  text-align: center;  
  float: left;  
  border-right: 1px solid #DEDDDC;  
}
.coupon_inner_horizon{
  background: #96908b;  
  height: 60px;    
}