.check_out_product_list{
  
}
.check_out_product_list img{
  width: 60px;
  height: 60px;
}
.check_out_product_list_condition{
  font-size: 28px;
}
.check_out_product_list_title a, .check_out_product_list_title{
  font-size: 18px;
  color: #433E3C;    
}
.check_out_product_list_text{
  font-size: 15px;    
}
.check_out_delete_button{
  background: #afb3ad;
  color: #ffffff;
  border: none;
  border-radius: 0;
  font-size: 14px;
  padding: 4px 10px;
  box-shadow: 3px 3px rgb(209, 209, 200);     
}
@media (max-width: 768px) {  
  .check_out_product_list_condition{
    margin-bottom: 20px;
  }  
  .check_out_product_list{
    padding-bottom: 20px; 
    border-bottom: 1px solid #afb3ad;  
  }
  .check_out_product_list_title{
    margin-top: 20px;    
  }
  .check_out_product_list_text{
    margin-top: 15px;
  }
  .check_out_delete_button{
    margin-top: 10px;
  }
}

.check_out_pay_method_text{
  text-align: center;
  font-size: 18px;
}
.check_out_pay_method_text img{
  width: 70px;
}

