.product_farm_description
{
  font-size: 16.5px;
}
.product_name
{  
  font-size: 32px;  
}
.product_excellent_no
{
  color: #de562c;
  font-size: 40px;  
}
.product_excellent_text
{
  font-size: 25px;    
}
.product_price{
  font-size: 21px;    
}
.product_promote{
  font-size: 18px; 
  color: #536132;     
}
.add_to_cart{
  background: #35a142;
  border: none;
  border-radius: 0;
  font-size: 20px;
  padding: 10px 20px;
}
.add_to_cart:hover{
  background: #6fc57b;
}
/*======================================= Carousel =======================================*/
.product_carousel
{ 
  margin-bottom: 30px !important;  
  width: 650px !important;  
}
.product_carousel-inner{
  border-radius: 10px !important;    
}
.product_item img
{  
  width: 650px !important; 
  height: 420px !important;    
}
.product_carousel-indicators li {
  border: none;
  width: 10px;
  height: 10px;  
  background-color: rgba( 100, 100, 100, 0.6);
}
.product_carousel-indicators .active {
  background-color: rgba( 255, 255, 255, 0.6);
  width: 10px;
  height: 10px;    
}
.product_carousel-control {
  &.left, &.right {
    background: none;
    position:absolute; 
    @include reset-filter();
  }
  &.left{
    margin-left: -70px; color: black;
  }  
  &.right{
    margin-right: -70px; color: black;
  }     
}
@media (max-width: 992px) {
 .product_carousel{
   width: 100% !important; 
 }
  .product_item img {
    width: 100%;
    height: 220px;
 } 
}
@media (max-width: 768px) {
  .product_carousel{
    width: 100% !important;    
  }  
  .product_item img {
    width: 100%;     
    height: 200px;
  }  
}
@media (max-width: 480px) {
  .product_carousel{
    width: 100% !important;    
  }     
  .product_item img {
    width: 100%;     
    height: 200px;
  }  
} 

/*======================================= cash flow =======================================*/
.farmer_get_layer{  
  text-align: center;
  border-bottom: 1px solid #DEDDDC;
}
.farmer_get_inner{
  background: #e5e1dd;  
  width: 100px;
  float: left;
}
.shipping_rates_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;  
}
.shipping_rates_inner{
  background: #DEDDDC;
  width: 100px;
  float: left;  
}
.cash_flow_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;   
}
.cash_flow_inner{
  background: #c9c4c0;   
  width: 100px;
  float: left;  
}
.administration_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;     
}
.administration_inner{
  background: #afaaa5;
  width: 100px;
  float: left;    
}
.coupon_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;       
}
.coupon_inner{
  background: #96908b;  
  width: 100px;
  float: left;   
}
