.product_farm_description{
  background-color: rgba( 230, 218, 207, 0.5);  
  border-radius: 40px;
}
.product_farm_description_avatar{
  display: inline-block;
  height: 90px; width: 90px;
}
.product_farm_description_text
{
  padding: 10px 10px;   
  display: inline-block; 
  width: 1000px; 
  font-size: 16.5px;
  vertical-align: middle;
}
.product_name
{  
  font-size: 32px;  
}
.product_excellent_no
{
  color: #de562c;
  font-size: 40px;  
}
.product_excellent_text
{
  font-size: 25px;    
}
.product_price{
  font-size: 21px;    
}
.product_promote{
  font-size: 18px; 
  color: #536132;     
}
.add_to_cart{
  background: #35a142;
  border: none;
  border-radius: 0;
  font-size: 20px;
  padding: 10px 20px;
}
.add_to_cart:hover{
  background: #6fc57b;
}
/*======================================= Carousel =======================================*/
.product_carousel
{ 
  margin-bottom: 30px !important;  
  width: 650px !important;  
}
.product_carousel-inner{
  border-radius: 10px !important;    
}
.product_item img
{  
  width: 650px !important; 
  height: 420px !important;    
}
.product_carousel-indicators li {
  border: none;
  width: 10px;
  height: 10px;  
  background-color: rgba( 100, 100, 100, 0.6);
}
.product_carousel-indicators .active {
  background-color: rgba( 255, 255, 255, 0.6);
  width: 10px;
  height: 10px;    
}
.product_carousel-control {
  &.left, &.right {
    background: none;
    position:absolute; 
    @include reset-filter();
  }
  &.left{
    margin-left: -70px; color: black;
  }  
  &.right{
    margin-right: -70px; color: black;
  }     
}
@media (max-width: 992px) {
 .product_carousel{
   width: 100% !important; 
 }
  .product_item img {
    width: 100%;
    height: 220px;
 } 
}
@media (max-width: 768px) {
  .product_carousel{
    width: 100% !important;    
  }  
  .product_item img {
    width: 100%;     
    height: 200px;
  }  
}
@media (max-width: 480px) {
  .product_carousel{
    width: 100% !important;    
  }     
  .product_item img {
    width: 100%;     
    height: 200px;
  }  
} 

/*======================================= cash flow =======================================*/
.farmer_get_layer{  
  text-align: center;
  border-bottom: 1px solid #DEDDDC;
}
.farmer_get_inner{
  background: #e5e1dd;  
  width: 100px;
  float: left;
}
.shipping_rates_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;  
}
.shipping_rates_inner{
  background: #DEDDDC;
  width: 100px;
  float: left;  
}
.cash_flow_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;   
}
.cash_flow_inner{
  background: #c9c4c0;   
  width: 100px;
  float: left;  
}
.administration_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;     
}
.administration_inner{
  background: #afaaa5;
  width: 100px;
  float: left;    
}
.coupon_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;       
}
.coupon_inner{
  background: #96908b;  
  width: 100px;
  float: left;   
}
/*======================================= reviews =======================================*/

.review_title{
  display: inline-block;
  font-size: 18px;
  width: 80px;
  text-align: right;
}
.review_block_bar{
  display: inline-block; 
  width: 300px;  
}

.review_block_bar_inner{
  display: inline-block; 
  height: 18px;   
}

.review_block_number{
  display: inline-block;  
  font-size: 18px;   
}
.review_excellent_bg{
  background: #de562c; 
}
.review_good_bg{
  background: #e79568; 
}
.review_soso_bg{
  background: #eed3af; 
}
.review_excellent{
  color: #de562c;
}
.review_good{
  color: #e79568;
}
.review_soso{
  color: #eed3af;
} 
/*======================================= reviews feedback=======================================*/
.review_feedback_avatar{
  display: inline-block;
  height: 40px;
  width: 40px;  
  vertical-align: middle;
}
.review_feedback_name{
  display: inline-block;  
  font-size: 25px;
  vertical-align: middle;  
}
.review_feedback_date{
  display: inline-block;  
  vertical-align: middle;  
}
.review_feedback_option{
  display: inline-block;  
  height: 30px;
  width: 30px;
  border-radius: 20px;
  vertical-align: middle;  
}
.review_feedback_option_text{
  display: inline-block;    
  vertical-align: middle;
  
}
.review_feedback_content{
  background: rgba(255, 255, 255, 0.8); 
  font-size: 18px;  
  padding: 10px 10px;
}
