.product_cover_parallax_parent {
  height: 600px;
  overflow: hidden;
}
.product_cover_parallax_parent > * {
  height:  200%;
  position: relative;
  top: 0%;
}
@media (max-width: 1750px) {
  .product_cover_parallax_parent {
    height: 500px;
  }  
}
@media (max-width: 1500px) {
  .product_cover_parallax_parent {
    height: 450px;
  }    
}

.product_farm_words{
  background-color: rgba( 230, 218, 207, 0.5);  
  border-radius: 40px;
  min-height: 90px;
}
.product_farm_words_avatar{
  height: 90px; 
  width: 90px;
  position: absolute;
}
.product_farm_words_text
{
  position: absolute;
  padding: 15px 20px;
  left: 100px;
  font-size: 15px;
  color: #605856;
}
@media (max-width: 768px) {
  .product_farm_words_avatar{
    margin-top: 10px;
    position: static;
  }
  .product_farm_words_text
  {
    position: static;
  }
}
.product_name
{  
  font-size: 30px;  
}
.product_excellent_no
{
  color: #de562c;
  font-size: 35px;  
}
.product_excellent_text
{
  font-size: 28px;    
}
.product_sweet_degree{
  height: 60px; 
  width: 100px;  
}
.product_price{
  font-size: 18px;    
}
.product_promote{
  font-size: 16px; 
  color: #536132;     
}
.add_to_cart{
  border: none;
  border-radius: 0;
  font-size: 20px;
  padding: 7px 14px;
  box-shadow: 3px 3px rgb(209, 209, 200);    
}
.add_to_cart:hover{
  background: #6fc57b;
}
.cart_unavailable{
  border: none;
  border-radius: 0;
  font-size: 20px;
  color: #ffffff;
  padding: 7px 14px !important; 
  box-shadow: 3px 3px rgb(209, 209, 200) !important;  
  background: #afb3ad !important;    
}

.product_spec th{
  width: 81px;
}

/*======================================= Carousel =======================================*/
.product_carousel
{ 
  margin-bottom: 30px !important;  
  width: 700px !important;  
}
.product_carousel-inner{
  border-radius: 10px !important;    
}
.product_item img
{  
  width: 700px !important; 
  height: 420px !important;    
}
.product_carousel-indicators li {
  border: none;
  width: 10px;
  height: 10px;  
  background-color: rgba( 100, 100, 100, 0.6);
}
.product_carousel-indicators .active {
  background-color: rgba( 255, 255, 255, 0.6);
  width: 10px;
  height: 10px;    
}
.product_carousel-control {
  &.left, &.right {
    z-index: 1;
    background: none;
    position:absolute; 
    @include reset-filter();
  }
  &.left{
    margin-left: -70px; color: black;
  }  
  &.right{
    margin-right: -70px; color: black;
  }     
}
@media (max-width: 1550px) {
 .product_carousel{
   width: 600px !important; 
 }
  .product_item img {
   width: 600px;
 } 
}
@media (max-width: 1280px) {
  .product_carousel{
    width: 550px !important;   
   }
  .product_item img{  
    width: 550px !important;   
  }
}
@media (max-width: 992px) {
  .product_carousel{
    width: 90% !important;    
  }     
  .product_item img {
    width: 100% !important;     
  }  
} 
@media (max-width: 480px) {
  .product_carousel{
    width: 100% !important;    
  }     
  .product_item img {
    width: 100%;     
  }  
}
/*======================================= cash flow =======================================*/
.farmer_get_layer{  
  text-align: center;
  border-bottom: 1px solid #DEDDDC;
}
.farmer_get_inner{
  background: #e5e1dd;  
  width: 100px;
  float: left;
}
.shipping_rates_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;  
}
.shipping_rates_inner{
  background: #DEDDDC;
  width: 100px;
  float: left;  
}
.cash_flow_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;   
}
.cash_flow_inner{
  background: #c9c4c0;   
  width: 100px;
  float: left;  
}
.administration_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;     
}
.administration_inner{
  background: #afaaa5;
  width: 100px;
  float: left;    
}
.coupon_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;       
}
.coupon_inner{
  background: #96908b;  
  width: 100px;
  float: left;   
}
/*======================================= reviews =======================================*/
.review_score{
  list-style: none;
  margin: 0;
  padding: 0;
}
.review_score li{
  margin-bottom: 3px;
}
.review_title{
  display: inline-block;
  font-size: 18px;
  width: 80px;
  text-align: right;
}
.review_block_bar{
  display: inline-block; 
  width: 300px;  
}

.review_block_bar_inner{
  display: inline-block; 
  height: 18px;   
}

.review_block_number{
  display: inline-block;  
  font-size: 18px;   
}
.review_delicious_bg{
  background: #de562c; 
}
.review_tasty_bg{
  background: #f69609; 
}
.review_common_bg{
  background: #fbc507; 
}
.review_unappealing_bg{
  background: #be6f06; 
}
.review_delicious{
  color: #de562c;
}
.review_tasty{
  color: #f69609;
}
.review_common{
  color: #fbc507;
} 
.review_unappealing{
  color: #be6f06;
}
@media (max-width: 480px) {
  .review_title{
    font-size: 17px !important; 
    width: 65px !important;
  } 
  .review_block_bar{
    width: 210px !important;  
  }
  .review_score_from{
    font-size: 80%;
  }  
}
/*======================================= reviews feedback=======================================*/
.review_feedback_avatar{
  display: inline-block;
  height: 35px;
  width: 35px;  
  vertical-align: middle;
}
.review_feedback_name{
  display: inline-block;  
  font-size: 23px;
  vertical-align: middle;  
}
.review_feedback_date{
  display: inline-block;  
  vertical-align: middle; 
  font-size: 14px; 
}
.review_feedback_option{
  display: inline-block;  
  height: 25px;
  width: 25px;
  border-radius: 20px;
  vertical-align: middle;  
}
.review_feedback_option_text{
  display: inline-block;    
  vertical-align: middle;
  
}
.review_feedback_content{
  background: rgba(255, 255, 255, 0.8); 
  font-size: 18px;  
  padding: 10px 10px;
}
