.product_cover_parallax_parent {
  height: 620px;
  overflow: hidden;
}
.product_cover_parallax_parent > * {
  height:  200%;
  position: relative;
  top: 0%;
}
@media (max-width: 1750px) {
  .product_cover_parallax_parent {
    /*height: 580px;*/
  }  
}
@media (max-width: 1500px) {
  .product_cover_parallax_parent {
    height: 550px;
  }    
}
@media (max-width: 991px) {
  .product_cover_parallax_parent {
    height: 450px;
  }    
}
@media (max-width: 768px) {
  .product_cover_parallax_parent {
    height: 390px;
  }    
}
.product_farm_words{
  border: 1px solid #a8bb7f;
  background: none; 
  border-radius: 40px;
  min-height: 80px;
}
.product_farm_words_avatar{
  height: 80px; 
  width: 80px;
  position: absolute;
}
.product_farm_words_text
{
  position: absolute;
  padding: 15px 20px;
  left: 100px;
  font-size: 15px;
  color: #433E3C;
}
@media (max-width: 767px) {
  .product_farm_words{
    margin-top: 35px;
  }
  .product_farm_words_avatar{
    height: 70px; 
    width: 70px;    
    margin-top: 10px;
    position: static;
  }
  .product_farm_words_text
  {
    position: static;
    padding: 15px 35px;    
  }
}
.product_name
{  
  font-weight: bold;
  font-size: 24px;  
}
.product_excellent_no
{
  color: #de562c;
  font-size: 33px;  
}
.product_excellent_text
{
  font-size: 20px;    
}
.product_price{
  font-size: 17px;    
}
.product_promote{
  font-size: 18px;   
  padding-top: 3px;
  padding-bottom: 3px;   
  border-top: 1px solid #a8bb7f;
  border-bottom: 1px solid #a8bb7f;  
}
.product_released_at{
  font-size: 17px;   
  color: #e26131; 
}
.add_to_cart{
  border: none;
  border-radius: 0;
  font-size: 20px;
  padding: 7px 14px;
  box-shadow: 3px 3px rgb(209, 209, 200);    
}
.add_to_cart:hover{
  background: #6fc57b;
}
.cart_unavailable{
  border: none;
  border-radius: 0;
  font-size: 20px;
  color: #ffffff;
  padding: 7px 14px !important; 
  box-shadow: 3px 3px rgb(209, 209, 200) !important;  
  background: #afb3ad !important;    
}
.product_spec {
  font-size: 15px;
}
.product_spec th{
  vertical-align: middle !important;  
  height: 50px;
  min-width: 76px;
  background: #d6cfcb;
  text-align: center;
}
.product_spec td{
  vertical-align: middle !important;  
  background: #e7e4e2;
}
.product_spec td img{
  margin: 0px 2px;
}
.product_sweet_degree{
  height: 40px; 
  width: 60px;  
}
.product_description{
  font-size: 16px;
  padding: 0px 25px;
}
@media (max-width: 768px) {
  .product_spec {
    font-size: 13px;
  }   
.product_spec th{
  min-width: 80px;
  height: 40px;
  padding-left: 15px !important; 
}  
}
/*======================================= Carousel =======================================*/
.product_carousel_add_to_cart_container{
  margin-top: 40px;
}
.product_carousel
{ 
  width: 100% !important;  
}
.product_carousel-inner{
  border-radius: 7px !important;    
}
.product_carousel_img
{  
  width: 100%;
  height: 0;
  padding-bottom: 70% ; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}
.product_carousel-indicators li {
  border: none;
  width: 10px;
  height: 10px;  
  background-color: rgba( 100, 100, 100, 0.6);
}
.product_carousel-indicators .active {
  background-color: rgba( 255, 255, 255, 0.6);
  width: 10px;
  height: 10px;    
}
.product_carousel-control {
  &.left, &.right {
    z-index: 1;
    background: none;
    position:absolute; 
    @include reset-filter();
  }
  &.left{
    margin-left: -70px; color: black;
  }  
  &.right{
    margin-right: -70px; color: black;
  }     
}
@media (max-width: 1600px) {
}
@media (max-width: 1400px) {

}
@media (max-width: 992px) {
  .product_carousel_add_to_cart_container{
    margin-top: 25px;
  }    
} 
@media (max-width: 768px) {  
}
@media (max-width: 580px) {  
}
@media (max-width: 480px) {  
}
/*======================================= product image =======================================*/
.product_image_container{
  position: relative;
}
.product_image_eq{
  width: 100%;
  height: 250px;
}
.product_image_container_right{ padding-right: 2px; }
.product_image_container_left{ padding-left: 2px; }
@media (max-width: 1700px) { 
.product_image_eq{
    height: 217.5px;  
  }
}
@media (max-width: 1560px) { 
.product_image_eq{
    height: 187.5px;  
  }  
}
@media (max-width: 1360px) { 
.product_image_eq{
    height: 168.75px;  
  }     
}
@media (max-width: 970px) { 
.product_image_eq{
    height: 217.5px;  
  }   
}
@media (max-width: 768px) {  
.product_image_eq{
    height: 270px;  
  }   
}
@media (max-width: 640px) {  
.product_image_eq{
    height: 237.5px;  
  }   
}
@media (max-width: 530px) {  
.product_image_eq{
    height: 187.5px;   
  }   
}
@media (max-width: 480px) { 
.product_image_eq{
    height: 168.5px;  
  }   
}
@media (max-width: 414px) { 
.product_image_eq{
    height: 144px; 
  }    
}
@media (max-width: 375px) { 
.product_image_eq{
    height: 129px;
  }   
}
@media (max-width: 320px) { 
.product_image_eq{
    height: 100px; 
  }   
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.product_image_container a.zoom span.overlay { position: absolute; top: 0; right: 0; height: 100%; width: 100%; background-color: #000;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    display: block; visibility: visible; opacity: 0.55; -moz-opacity: 0.55; -webkit-opacity: 0.55; filter: alpha(opacity=65); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";    
}     
.product_image_container span.overlay i{ position: absolute; top: 45%; left: 0%; width: 100%; font-size: 1em; color: #fff !important; text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

.product_image_container { overflow: hidden; }
.product_image_container a { overflow: hidden; }
.product_image_container a img { 
    transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s; 
}
.product_image_container a.zoom:hover img { transform: scale(1.2); -ms-transform: scale(1.2); -webkit-transform: scale(1.2); -o-transform: scale(1.2); -moz-transform: scale(1.2); }

/*======================================= cash flow =======================================*/
.farmer_get_layer{  
  text-align: center;
  border-bottom: 1px solid #DEDDDC;
}
.farmer_get_inner{
  background: #e5e1dd;  
  width: 100px;
  float: left;
}
.shipping_rates_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;  
}
.shipping_rates_inner{
  background: #DEDDDC;
  width: 100px;
  float: left;  
}
.cash_flow_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;   
}
.cash_flow_inner{
  background: #c9c4c0;   
  width: 100px;
  float: left;  
}
.administration_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;     
}
.administration_inner{
  background: #afaaa5;
  width: 100px;
  float: left;    
}
.coupon_layer{
  text-align: center;  
  border-bottom: 1px solid #DEDDDC;       
}
.coupon_inner{
  background: #96908b;  
  width: 100px;
  float: left;   
}
/*======================================= reviews =======================================*/
.review_score{
  list-style: none;
  margin: 0;
  padding: 0;
}
.review_score li{
  margin-bottom: 3px;
}
.review_title{
  display: inline-block;
  font-size: 18px;
  width: 80px;
  text-align: right;
  margin-right: 5px;
}
.review_block_bar{ 
  display: inline-block; 
  width: 200px;  
  height: 30px;
}
@media (max-width: 1405px) {
  .review_title{
    font-size: 16px;
    width: 90px;
    margin-right: 5px;
  }  
}
.review_block_bar_inner{
  display: inline-block; 
  height: 18px;   
}

.review_block_number{
  display: inline-block;  
  font-size: 18px;   
}
.review_delicious_bg{
  background: #de562c; 
}
.review_tasty_bg{
  background: #f69609; 
}
.review_common_bg{
  background: #fbc507; 
}
.review_unappealing_bg{
  background: #be6f06; 
}
.review_delicious{
  color: #de562c;
}
.review_tasty{
  color: #f69609;
}
.review_common{
  color: #fbc507;
} 
.review_unappealing{
  color: #be6f06;
}

.shipment_review_slow_bg{
  background: #f02428;
}
.shipment_review_common_bg{
  background: #f8b424;
}
.shipment_review_fast_bg{
  background: #6dcd48;
}
.shipment_review_slow{
  color: #f02428;
}
.shipment_review_common{
  color: #f8b424;
}
.shipment_review_fast{
  color: #6dcd48;
} 
@media (max-width: 480px) {
  .review_title{
    font-size: 16px !important; 
    width: 65px !important;
  } 
  .review_block_bar{
    width: 210px !important;  
  }
  .review_score_from{
    font-size: 80%;
  }  
}
/*======================================= reviews feedback=======================================*/
.review_feedback_avatar{
  display: inline-block;
  height: 35px;
  width: 35px;  
  vertical-align: middle;
  margin-right: 5px;
}
.review_feedback_name{
  display: inline-block;  
  font-size: 20px;
  vertical-align: middle;  
}
.review_feedback_date{
  display: inline-block;  
  vertical-align: middle; 
  font-size: 14px; 
}
.review_feedback_option{
  display: inline-block;  
  height: 25px;
  width: 25px;
  border-radius: 20px;
  vertical-align: middle;  
}
.review_feedback_option_text{
  display: inline-block;    
  vertical-align: middle;
  
}
.review_feedback_shipment{
  display: inline-block;  
  height: 25px;
  width: 25px;
  border-radius: 20px;
  vertical-align: middle; 
}
.review_feedback_shipment_text{
  display: inline-block;  
  vertical-align: middle; 
  font-size: 14px; 
}
.review_feedback_content{
  background: rgba(255, 255, 255, 0.8); 
  font-size: 18px;  
  padding: 10px 10px;
}
@media (max-width: 1560px) {
  .review_feedback_avatar{
    height: 30px;
    width: 30px;  
  }
  .review_feedback_name{
    font-size: 18px;
  }
  .review_feedback_date{
    font-size: 12px; 
  }
  .review_feedback_option{
    height: 20px;
    width: 20px;
  }
  .review_feedback_option_text{
    font-size: 16px;   
  }
}
@media (max-width: 1418px) {
  .review_feedback_avatar{
    height: 26px;
    width: 26px;  
  }  
  .review_feedback_name{
    font-size: 14px;
  }  
  .review_feedback_option{
    height: 15px;
    width: 15px;
  }  
  .review_feedback_option_text{
    font-size: 14px;   
  }  
}
.shipment_review_container img{
  margin-top: 30px;
  width: 280px;
}
@media (max-width: 1200px) {
  .shipment_review_container img{
    width: 250px;
  }    
}
@media (max-width: 991px) {
  .shipment_review_container img{
    width: 250px;
  }    
}
@media (max-width: 767px) {
  .shipment_review_container img{
    width: 230px;
  }    
}
/*================================ index =================================*/
.product_index_container{
  margin-top: 55px;
}
.product_index_container a{
  color: #433E3C;
  font-size: 17px;  
}
.product_index_container a:hover{
  text-decoration: none;
}
.product_index_image_container{
  width: 70%;
  height: 0;
  padding-bottom: 65% ; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;      
}
.product_index_delicious_container{
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 0;  
  padding: 3px 0px;
}
.product_index_delicious_sum{
  font-size: 160%;  
  color: #DE562C;
}
.product_index_name{
  margin-top: 3px;
  font-size: 110%;    
}
.product_index_company_name{
  margin-top: 6px;  
  font-size: 90%;    
}
.product_index_fruits_icons{
  margin-top: 5px;
  min-height: 45px;
}
.product_index_fruits_icons img{
  margin: 0 5px;
}
@media (max-width: 1385px) {
  .product_index_container a{
    font-size: 16px;
  }
  .product_index_image_container{
    
  }
  .product_index_delicious_container{
  }
}
@media (max-width: 1190px) {
  .product_index_container a{
    font-size: 18px; 
  }
  .product_index_image_container{
  }
  .product_index_delicious_container{
  }  
}
@media (max-width: 426px) {
  .product_index_container a{
  }
  .product_index_image_container{
  }
  .product_index_delicious_container{
  }
}
