<div class="content" style="color: #3e3a39">    	
	<p>您可透過以下連結重設密碼</p>				
	<p><%= link_to '更換我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>
	<p>如果您沒要求更改密碼，請您忽略此信。</p>
	<p>除非點擊上面連結並更換密碼，否則您的密碼都不會改變</p>
</div>
<div style="text-align: right;">-- 小農1號團隊</div>	