<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	

<p><%= @resource.email %> 您好!</p>

<p>您可透過以下連結更換密碼</p>

<p><%= link_to '更換我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您沒要求更改密碼，請您忽略此信。</p>
<p>除非您點擊上面連結並更換密碼，否則您的密碼都不會改變</p>
    
  <style>
  
  </style>  
  </body>
</html>
