<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div style="font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif; padding: 5px 20px;	">		
<div style="letter-spacing: 1.5px;
		    padding-bottom: 30px; 
		    padding-top: 10px; 	
		    padding-left: 5px; 		    	    
		    border-bottom: 1px solid #198EB9; 
		    border-top: 1px solid #198EB9; 
		    margin-bottom: 30px;">		
<div class="masonry" style="-moz-column-count: 4;
						    -webkit-column-count: 4;
						    column-count: 4;
						    -moz-column-gap: 1em;
						    -webkit-column-gap: 1em;
						    column-gap: 1em;">
<%=@user.last_name %> 您好!<br><br>      
<%=@user.phone_no_confirmation_token %>
<br>
<br>
</div>
</div>
</div>
</body>
</html>