<div class="row">
	<div class="col-lg-offset-1 col-lg-10" style="font-size: 14px; padding-left: 30px;">				
		您選擇<span class="total_quantity"></span>箱，共<span class="total_price"></span>元，您最多可以獲得<span class="total_coupon"></span>元回饋金，金流估計如下：
	</div>
</div>	
<div class="row" style="margin-top: 20px;">
	<div class="col-lg-offset-1 col-lg-10" style="padding-left: 30px;">
		<div class="farmer_get_layer">
			<div class="farmer_get_inner">
				<span class="total_farmer_get" style="position: relative; top: 45%"></span>
			</div>
			<div style="position: relative; top: 45%">農夫獲得</div>
		</div>
		<div class="shipping_rates_layer">
			<div class="shipping_rates_inner">
				<span class="total_shipping_rates" style="position: relative; top: 40%"></span>					
			</div>
			<div style="position: relative; top: 40%">物流費用</div>				
		</div>
		<div class="cash_flow_layer">
			<div class="cash_flow_inner">
				<span class="total_cash_flow" style="position: relative; top: 10%"></span>										
			</div>
			<div style="position: relative; top: 10%">金流費用</div>				
		</div>
		<div class="administration_layer">
			<div class="administration_inner">
				<span class="total_administration" style="position: relative; top: 10%"></span>										
			</div>
			<div style="position: relative; top: 10%">行政費用</div>				
		</div>									
		<div class="coupon_layer">
			<div class="coupon_inner">
				<span class="total_coupon" style="position: relative; top: 15%"></span>										
			</div>
			<div style="position: relative; top: 15%">您的回饋金</div>				
		</div>									
		<abbr title="回饋金為實付金額的固定比例，故當您使用回饋金消費時，最後的金流分佈將會不同。"><small>(最後數據會依實付金額不同而改變)</small></abbr>
	</div>
</div>	