<%Product.where(available_c: true, deleted_c: false).order("RAND()").limit(4).each_slice(4) do |p|%> 
	<div class="row">
		<% p.each_with_index do |pp, index|%>
			<%= render partial: "/main/product", locals: { product: pp, index: index, slice: 4 } %>			
		<%end%>	
	</div>		
<%end%>
<script>
var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter"}});
new ScrollMagic.Scene({triggerElement: ".product_index_delicious_sum"})
		.addTo(controller)
		.on('start', function(e){
			$('.product_index_delicious_sum').each(function () {
			  var $this = $(this);
			  jQuery({ Counter: 0 }).animate({ Counter: $this.attr("data-count") }, {
			    duration: 1000,
			    easing: 'swing',
			    step: function () {
			      $this.text(Math.floor(this.Counter));
			    },
			  	complete: function() {
			  		$this.html($this.attr("data-count"));
			  	}		    
			  });
			});					
		});	
</script>
