<div class="row" style="">				
	<div class="col-sm-12">	
		<ul>
			<li>
				<div class="review_title">非吃不可</div>	
				<div class="review_block_bar">
				<div class="review_block1_bar"></div>	
				<div class="review_block1_number review_block_number">3147</div>				
				</div>
			</li>
			<li>
				<div class="review_title">好吃</div>
				<div class="review_block_bar">					
				<div class="review_block2_bar"></div>	
				<div class="review_block2_number review_block_number">76</div>					
				</div>			
			</li>
			<li>
				<div class="review_title">普通</div>	
				<div class="review_block_bar">									
				<div class="review_block3_bar"></div>	
				<div class="review_block3_number review_block_number">2301</div>					
				</div>
			</li>				
		</ul>	
	</div>	
</div>
<script>
	var controller = new ScrollMagic.Controller();
	new ScrollMagic.Scene({triggerElement: ".product_section_title"})
		.addTo(controller)
		.on('start', function(e){
			$('.review_block1_bar').animate({"width": 100}, 1000)
			$('.review_block2_bar').animate({"width": 20}, 1000)
			$('.review_block3_bar').animate({"width": 100}, 1000)				
		}).on('leave', function(e){
			$('.review_block1_bar').animate({"width": 0}, 0)
			$('.review_block2_bar').animate({"width": 0}, 0)
			$('.review_block3_bar').animate({"width": 0}, 0)				
		})
</script>
	