<div class="row">				
	<div class="col-md-offset-1 col-md-11">	
		<ul class="review_score">
			<li>
				<div class="review_title">超好吃</div>					
				<div class="review_block_bar">
				<div class="review_block1_bar review_block_bar_inner review_delicious_bg"></div>	
				<div class="review_block1_number review_block_number review_delicious" data-count='<%= Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_at IS NOT NULL and review_score = ? ', @product.id, GLOBAL_VAR['ORDER_REVIEW_DELICIOUS']).count %>'>				
				</div>				
				</div>
			</li>
			<li>
				<div class="review_title">好吃</div>													
				<div class="review_block_bar">	
				<div class="review_block2_bar review_block_bar_inner review_tasty_bg"></div>	
				<div class="review_block2_number review_block_number review_tasty" data-count='<%= Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_at IS NOT NULL and review_score = ? ', @product.id, GLOBAL_VAR['ORDER_REVIEW_TASTY']).count %>'>
				</div>					
				</div>			
			</li>
			<li>
				<div class="review_title">普通</div>																		
				<div class="review_block_bar">	
				<div class="review_block3_bar review_block_bar_inner review_common_bg"></div>	
				<div class="review_block3_number review_block_number review_common" data-count='<%= Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_at IS NOT NULL and review_score = ? ', @product.id, GLOBAL_VAR['ORDER_REVIEW_COMMON']).count %>'>
				</div>					
				</div>
			</li>	
			<li>
				<div class="review_title">不太好吃</div>																			
				<div class="review_block_bar">
				<div class="review_block4_bar review_block_bar_inner review_unappealing_bg"></div>	
				<div class="review_block4_number review_block_number review_unappealing" data-count='<%= Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_at IS NOT NULL and review_score = ? ', @product.id, GLOBAL_VAR['ORDER_REVIEW_UNAPPEALING']).count %>'>
				</div>					
				</div>
			</li>						
		</ul>	
	</div>	
</div>
<script>
var delicious_count = $('.review_delicious').attr("data-count")
var tasty_count = $('.review_tasty').attr("data-count")
var common_count = $('.review_common').attr("data-count")
var unappealing_count = $('.review_unappealing').attr("data-count")
var max_count = Math.max( delicious_count, tasty_count, common_count, unappealing_count); 

$('.review_delicious').html(delicious_count);
$('.review_tasty').html(tasty_count);
$('.review_common').html(common_count);
$('.review_unappealing').html(unappealing_count);
var controller = new ScrollMagic.Controller();
scene = new ScrollMagic.Scene({triggerElement: ".review_score"})
		.addTo(controller)
		.on('start', function(e){
			$('.review_block1_bar').animate({"width": $('.review_block_bar').width()*0.8*(delicious_count/max_count)}, 800)
			$('.review_block2_bar').animate({"width": $('.review_block_bar').width()*0.8*(tasty_count/max_count)}, 800)
			$('.review_block3_bar').animate({"width": $('.review_block_bar').width()*0.8*(common_count/max_count)}, 800)
			$('.review_block4_bar').animate({"width": $('.review_block_bar').width()*0.8*(unappealing_count/max_count)}, 800)				
		}).on('leave', function(e){
			$('.review_block1_bar').animate({"width": 0}, 0)
			$('.review_block2_bar').animate({"width": 0}, 0)
			$('.review_block3_bar').animate({"width": 0}, 0)
			$('.review_block4_bar').animate({"width": 0}, 0)							
		})
$( window ).resize(function() {
  //scene.progress(0.7);
});		
</script>
	