<div class="container-fluid footer">
	<div class="row">
		<ul class="list-inline text-center">
  			<li><a href="https://www.facebook.com/pages/%E5%B0%8F%E8%BE%B21%E8%99%9F%E7%B7%9A%E4%B8%8A%E6%B0%B4%E6%9E%9C%E5%B9%B3%E5%8F%B0/963828033679792">關於小農</a></li>	  			
  			<li><a href="https://www.facebook.com/pages/%E5%B0%8F%E8%BE%B21%E8%99%9F%E7%B7%9A%E4%B8%8A%E6%B0%B4%E6%9E%9C%E5%B9%B3%E5%8F%B0/963828033679792">粉絲專頁</a></li>  
  			<li><%=link_to '隱私權', '/main/privacyPolicy' %></li>  
  			<li><%=link_to '退換貨政策', '/main/returnPolicy' %></li> 
  			<li><%=link_to '申請上架', '/companies/apply' %></li>  											  			 											
		</ul>
	</div>	
	<div class="row">
		<p class="text-center footer_service">客服專線：(02)8732-6786 (週一至週五 AM 9:30~PM 5:30) <span class="hidden-sm hidden-md hidden-lg"><br></span>客服信箱：sf.inc@smallfarmer01.com</p>
	</div>		
	<div class="row">
		<p class="text-center footer_copyright">Copyright © 2015 SmallFarmer Inc. All rights reserved.</p>
	</div>	
</div>
