<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />   
  </head>
  <body>
	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="font-family: Heiti TC, Microsoft JhengHei, sans-serif;">
    	<tr>
        	<td align="center" valign="top">
            	<table border="0" cellpadding="20" cellspacing="0" width="660" id="emailContainer">
                	<tr>
	                    <td align="center" valign="top">
	                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
	                            <tr>
	                                <td align="center" valign="top">
										<div class="header" style="height: 80px;">   	
											<div class="header_bg_left" style="float: left; background: #DE562C; width: 260px; height: 70px;">  	
											<%= link_to image_tag('mail/smallfarmer01.png', style: 'margin-left: 20px; margin-top: 20px; width: 140px;'), root_url %>
											</div>
											<div class="header_bg_center" style="float: left; width: 80px;">
											<div class="header_bg_center_square" style="background: #DE562C; height: 30px;"></div>	
											<div class="header_bg_center_triangle" style="width: 0; height: 0; border-top: 40px solid #DE562C; border-right: 82px solid transparent;"></div>				
											</div>
											<div class="header_bg_right" style="float: left; background: #DE562C; width: 300px; height: 30px;"></div>		
										</div>	
										<div class="logo_container" style="width: 570px; margin: 0px auto;">
											<div class="logo_right" style="border-top: 2px solid #cdc38f; display:inline-block; width: 241px; margin-bottom: 25px;"></div>			
											<%=image_tag 'mail/logo.png', class: 'logo', style: 'width: 60px; margin-left: 10px; margin-right: 10px; display:inline-block;'%>
											<div class="logo_left" style="border-top: 2px solid #cdc38f; display:inline-block; width: 241px; margin-bottom: 25px;"></div>				
										</div>		                                	                                                             
	                                </td>
	                            </tr>
	                        </table>
	                    </td>					
                    </tr>
	                <tr>
	                    <td align="center" valign="top">
	                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
	                            <tr>
	                                <td align="center" valign="top">
										<div class="content_outter" style="width: 540px; margin: 0 auto; text-align: left">   
											<%=yield %>
										</div>	                                                            
	                                </td>
	                            </tr>
	                        </table>
	                    </td>
	                </tr>    
	                <tr>
	                    <td align="center" valign="top">
	                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
	                            <tr>
	                                <td align="center" valign="top">	
										<div class="company_info_container" style="width: 570px; margin: 0px auto; color: #7c7b7b; margin-top: 0px;">
											<div class="company_info_right" style="border-top: 2px solid #cdc38f; display:inline-block; width: 205px; margin-bottom: 60px;"></div>	
											<div class="company_info" style="background: #FFFFFF;  width: 150px; font-size: 12px; text-align: center; display:inline-block;">	
												<div>小農號有限公司</div>
												<div>smallFarmer Inc.</div>
												<div>(02) 8732-6786 </div>
												<div>sf.inc@smallfarmer01.com</div>	
											</div>	
											<div class="company_info_left" style="border-top: 2px solid #cdc38f; display:inline-block; width: 205px; margin-bottom: 60px;"></div>			
										</div>	
										<div class="footer_upper" style="height: 30px; margin-top: 0px; width: 640px;">
											<div class="footer_bg_right" style="float: right; background: #DE562C; width: 200px; height: 30px;"></div>		
											<div class="footer_bg_center_triangle" style="float: right; width: 0; height: 0; border-bottom: 35px solid #DE562C; border-left: 80px solid transparent;"></div>				
										</div>
										<div class="footer_lower" style="background: #DE562C; width: 600px; font-size: 9px; line-height: 11px; color: #FFFFFF; padding: 14px 20px; text-align: left">
										煩請務必將此郵件地址加入安全的寄件者，或是直接點選非垃圾郵件等類似功能，避免系統發送的郵件被放入垃圾郵件中。<br>
										另外，no-reply@smallfarmer01.com 所寄出之信件，皆由系統自動發送。在此提醒您，請勿直接回覆或透過此郵
										件地址與我們聯繫，我們將不會收到您所留下的任何訊息。若有網站使用上的疑問，請透過電話或客服信箱來詢問。
										</div>											
	                                </td>
	                            </tr>
	                        </table>
	                    </td>
	                </tr>  	                	                                                  
                </table>
            </td>
        </tr>
    </table>    
  </body>
</html>